@import url(variables.css);
*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
header{
    display: flex;
    flex-direction: column;
}
.cabeza{
    display: flex;
    flex-direction: row;
    background-color: var(--colorSecundary);
    border-bottom: 3px var(--colorPrimary) solid;
}
.cabeza picture{
    margin: 1vw 2vw;
}
.cabeza picture img{
    width: 20vw;
}
.busqueda{
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.busqueda input{
    width: 80%;
    height: 2rem;
    color: var(--colorSecundary);
}
.busqueda i{
    position: relative;
    left: -2rem;
    font-size: 1.8rem;
    background-color: var(--colorPrimary);
    border-radius: 2px;
    color: var(--colorLetterSecundary);
}
.carrito{
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bx-user-circle{
    padding-right: 1rem;
    border-right: 1px solid var(--colorLetterSecundary);
}
.carrito button{
    background-color: var(--colorSecundary);
    border: none;
}
.carrito i{
    color: var(--colorLetterSecundary);
    font-size: 2.8rem;
}
nav{
    margin-top: 0.8rem;
    display: flex;
    z-index: 5;
    justify-content: space-around;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
nav ul a{
    padding: 1vw 1vw;
    text-decoration: none;
    color: var(--colorSecundary);
    font-size: 1rem;
}
nav ul a:hover{
    background-color: var(--colorSecundary);
    color: var(--colorLetterSecundary);
}
.categorias{
    margin-top: 0.5rem;
}
.productos{
    display: grid;
    width: 100vw;
    grid-template-columns: 10% auto auto;
}
aside{
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-around;
    margin: 1.3vh 0;
}
aside img{
    width: 80%;
}
div img{
    width: 35rem;
}
.informacion h2{
    width: 95%;
    font-size: 2.5rem;
    color: var(-colorLetterPrimary);
}
.informacion .stars i{
    margin-top: 0.2rem;
    font-size: 1.3rem;
    color: var(--colorStar);
}
.informacion p{
    margin-top: 2rem;
    font-size: 1.1rem;
    width: 90%;
}
.informacion .precio{
    margin: 2rem 0rem;
    font-size: 2rem;
    color: var(--colorPrimary);
}
.informacion button{
    background-color: var(--colorPrimary);
    border: none;
    color: var(--colorLetterSecundary);
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 0.5vw 2vw;
}