:root{
    --colorPrimary: #eb5b25;
    --colorSecundary: #004797;
    --colorLetterPrimary: #444;
    --colorLetterSecundary: #fff;
    --colorPrice: #eb5b25;
    --colorStar: #ECBA18;
    --textColor: #444444;
    --Background: #f6f8fa;
}